.hero-section {
  padding: 4em;
  /* background-position: right;
    background-repeat: no-repeat !important;
    background-size: cover;
    background: url('https://raw.githubusercontent.com/gocomet-india/frontend-hotel-assignment/main/hero-bg.jpg'); */
  /* background-blend-mode: multiply; */
}
